<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="rsc/EVEWORKS_SCAN_ANALYSIS/css/analysis-template.css" rel="stylesheet">
</head>
<body>
    <div class="outside">
        
        <div class="titlebar">

        </div>
        <div class ="titlebarspacer">

        </div>
        <div class="borderL">
            
        </div>
        <div class="insideL">
            <br>
            <t>Shareable Link</t>
            <br>
            <br>
            <textarea type="text" class="linkarea" onclick="this.focus();this.select()">{aa}</textarea>
            <br>
            <br>
            <div class="divseperatorbar">
                a
            </div>
            <br>
            <t>DSCAN RESULTS</t>
            <br>
            <p>{aa}</p>
            <div>
                <table class="tablecontainer">
                    <tr>
                        <th>SHIP</th>
                        <th>QUANTITY</th>
                    </tr>
                {aa}
                </table>
            </div>
            
            

        </div>
        <div class="insideM">

        </div>
        <div class="borderR">
            
        </div>
        <div class="insideR">
            <br>
            <t>LOCALSCAN</t>
            <br>
            <p>{aa}</p>
            <div>
                <table class="tablecontainer">
                    <tr>
                        <th>NAME</th>
                        <th>CORP</th>
                        <th>ALLIANCE</th>
                    </tr>
                {aa}
                </table>
            </div>
        </div>

    </div>
    

</body>
</html>