<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="rsc/EVEWORKS_SCAN_ANALYSIS/css/dscan-template.css" rel="stylesheet">
</head>
<body>
    <form class="outside" method="post" action="dscanAnalyse">
        
        <div class="titlebar">

        </div>
        <div class ="titlebarspacer">

        </div>
        <div class="borderL">
            
        </div>
        <div class="insideL">
            <br>
            <t>Input Here</t>
            <br>

            <br>
            <label class="headertext">DSCAN<input type="checkbox" id="useDSCAN" name="useDSCAN" checked="checked"><span class="checkbutton"></span></label>
            <br>
            
            <br>
            <textarea type="text" id="DSCAN" name="DSCAN" class="inputfield"></textarea>
            <br>
            <br>

            <label class="headertext">LOCAL<input type="checkbox" id="useLOCAL" name="useLOCAL"><span class="checkbutton"></span></label>
            <br>
            <br>
            <textarea type="text" id="LOCAL" name="LOCAL" class="inputfield"></textarea>
        </div>
        <div class="insideM">

        </div>
        <div class="borderR">
            
        </div>
        <div class="insideR">
            <br><br><br><br><br><br>
            <input type="submit" value="Submit" class="analysebutton">
        </div>

    </form>
    

</body>
</html>